.header{
    display: flex;
}

.menu{
    display: flex;
    gap: 10px;
    float:left;
}

.navigation-bar{
    width: 30%;
    height: auto;
    display: flex;
}

.navigation-bar{
    life-style:none;
}

